<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/head') %>
    <title>Manager</title>
    <link rel="stylesheet" href="css/ManagementCss.css">
</head>
<body>
    <%- include('include/navigation.ejs') %>


    <h1 class="text-center">Welcome <%= userInformation.Name %></h1>
    <div class="TableTecher">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên giáo viên</th>
                <th scope="col">Môn giảng dạy</th>
              </tr>
            </thead>
            <tbody>
             <% TecherData.forEach((Tdata,index) => { %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= Tdata.TeacherName %></td>
                <td><%= Tdata.ObjectName %></td>
              </tr>
             <% }) %>
            </tbody>
          </table>
    </div>
</body>
</html>