
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('Managementinclude/head.ejs') %>
    <link rel="stylesheet" href="css/ManagementArrange.css">
    <script src="bootstrap-5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body>

    <%- include('Managementinclude/navigation.ejs') %>

  
    <div class="container">
        <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="">
        </div>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead>
                    <tr class="bg-light-gray">
                        <th class="text-uppercase">Time
                        </th>
                        <th class="text-uppercase">
                            <span>Monday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Tuesday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Wednesday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Thursday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                        <th class="text-uppercase">
                            <span>Friday</span>
                            <div id="SysTime">11/11/2021</div> 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if (IsEmty == false) { %>
                        <% for( let index = 0; index < 10; index++ ) { %>
                            <tr>
                                <td class="align-middle">Tiết <%= index +1%></td>
                                <td class="bg-light-gray"><input type="text"></td>
                                <td class="bg-light-gray"><input type="text"></td>
                                <td class="bg-light-gray"><input type="text"></td>
                                <td class="bg-light-gray"><input type="text"></td>
                                <td class="bg-light-gray"><input type="text"></td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <% for( let index = 0; index < 10; index++ ) { %>
                            <tr>
                                <td class="align-middle">Tiết <%= index +1%></td>
                                <td class="bg-light-gray"><%= Monday[index].TeacherID %></td>
                                <td class="bg-light-gray"><%= Tuesday[index].TeacherID %></td>
                                <td class="bg-light-gray"><%= Wednesday[index].TeacherID %></td>
                                <td class="bg-light-gray"><%= Thursday[index].TeacherID %></td>
                                <td class="bg-light-gray"><%= Friday[index].TeacherID %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
<div class="container">
    <hr>
	<div id="calendar"></div>
</div>
</body>
</html>